<script type="text/x-handlebars-template" id="root-main-template">
  <label>basic wonkajs project by josue a. vera</label><br><br><br><br>
  <div style="width:100%; display: inline-flex">
    <div style="width:20%">
      <label><a class="view" data-view="m" href="#">medic</a></label><br>
      <label><a class="view" data-view="a" href="#">medical appointment</a></label><br>
      <label><a class="view" data-view="u" href="#">user</a></label><br>
    </div>
    <div style="width:40%;">
      <div id="change-view"></div>
    </div>
  </div>
</script>